<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="js/bootstrap.min.js"></script>
  <script src="vue.js"></script>
  <title>Computed and Watch</title>
</head>

<body>
  <div id="app" class="alert alert-secondary">
    <h4>Computed</h4>
    <p>Use Computed filter data</p>
    <input type="text" class="form-control" v-model="filterText">
    <ul>
      <li v-for="(item, key) in arrayData" :key="item.age">
        {{ key }} - {{ item.name }} {{ item.age }} years old.
        <input type="text">
      </li>
    </ul>
    <p>Use Computed show time with format</p>
    <p></p>
    <h4>Watch</h4>
    <p>使用 trigger 來觸發旋轉 box、並在三秒後改變回來</p>
    <div class="box" :class="{'rotate': trigger }"></div>
    <hr>
    <button class="btn btn-outline-primary">Counter</button>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        arrayData: [{
            name: 'Ming',
            age: 16
          },
          {
            name: 'Mother',
            age: 38,
          },
          {
            name: 'Auntie',
            age: 24
          }
        ],
        filterText: '',
        trigger: false,
        newDate: 0
      },

      // 解答
      // methods: {
      //   openTrigger: function() {
      //     var vm = this;
      //     vm.trigger = true
      //   },
      //   closeTrigger: function() {
      //     var vm = this;
      //     setTimeout(function() { 
      //       vm.trigger = false
      //     }, 3000);
      //   }
      // },
      // watch: {
      //   trigger: function() {
      //     this.closeTrigger();
      //   }
      // },
      // computed: {
      //   filterArray: function () {
      //     var vm = this;
      //     return vm.arrayData.filter(function(item) {
      //       return item.name.match(vm.filterText);
      //     });
      //   },
      //   formatTime: function () {
      //     console.log(this.newDate)
      //     var dates = new Date(this.newDate * 1000);
      //     var year = dates.getFullYear();
      //     var month = dates.getMonth() + 1;
      //     var date = dates.getDate() + 1;
      //     var hours = dates.getHours();
      //     var minutes = dates.getMinutes();
      //     var seconds = dates.getSeconds();
      //     return `${year}/${month}/${date} ${hours}:${minutes}:${seconds}`
      //   }
      // },
      // mounted: function () {
      //   this.newDate = Math.floor(Date.now() / 1000);
      // }
    });
  </script>

  <style>
    .box {
      transition: all .5s;
    }

    .box.rotate {
      transform: rotate(45deg)
    }
  </style>

  </div>


</body>

</html>