<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <script src="../js/bootstrap.min.js"></script>
  <script src="../vue.js"></script>
  <title>Document</title>
</head>

<body>

  <div class="alert">

    <h1 class="mt-0 text-muted">Vue 的資料與 Set</h1>
    <div id="app">
      <table class="table">
        <tbody>
          <tr is="row-component" v-for="(item, key) in data" :item="item" :key="key"></tr>
        </tbody>
      </table>
    </div>

    <script type="text/x-template" id="row-component">
      <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.cash }}</td>
        <td>{{ item.icash }}</td>
        <td>
          <span v-if="data.item">{{ data.item.name }}</span>
          <button class="btn btn-sm btn-primary" @click="addData()">寫入資料</button>
        </td>
      </tr>
    </script>

    <script>
      var child = {
        props: ['item'],
        template: '#row-component',
        data: function () {
          return {
            data: {}
          }
        },
        methods: {
          addData: function () {
            // this.data.item = {
            //   name: this.item.name
            // }
            // console.log(this.data, this);
            
            // Vue.set( target, key, value )
              this.$set(this.data,'item',{
                 name: this.item.name
              });
              console.log(this.data, this);

          }
        },
        mounted: function () {
          console.log('Component:', this)
        }
      }

      var app = new Vue({
        el: '#app',
        data: {
          data: [{
              name: 'Mike',
              cash: 100,
              icash: 500,
            },
            {
              name: 'Jack',
              cash: 10000,
              icash: 5000,
            },
            {
              name: 'Nana',
              cash: 500,
              icash: 500,
            },
            {
              name: 'Lily',
              cash: 10000,
              icash: 100,
            },
          ]
        },
        components: {
          "row-component": child
        },
        mounted: function () {
          console.log('Vue init:', this)
        }
      });
    </script>
  </div>
</body>

</html>