<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <script src="../js/bootstrap.min.js"></script>
  <script src="../vue.js"></script>
  <title>Slot</title>
</head>

<body>


  <div class="alert alert-secondary">
    <h2 class="mt-0 text-muted">Slot 插槽替換</h2>


    <div id="app">
      <h2>沒有插槽可替換的狀態</h2>
      <no-slot-component></no-slot-component>

      <h2>Slot 基礎範例</h2>
      <single-slot-component>
        <p>使用這段取代原本的 Slot。</p>
      </single-slot-component>

      <h2>具名插槽</h2>
      <named-slot-component>
      </named-slot-component>

      <named-slot-component>
        <header>替換的 Header</header>
        <template>替換的 Footer</template>
        <template>按鈕內容</template>
        <p>其餘的內容</p>
      </named-slot-component>
    </div>

    <script type="text/x-template" id="noSlotComponent">
      <div class="alert alert-warning">
        <h6>我是一個元件</h6>
        <p>
          這沒有插槽。
        </p>
      </div>
    </script>

    <script type="text/x-template" id="singleSlotComponent">
      <div class="alert alert-warning">
        <h6>我是一個元件</h6>
        <div>
          如果沒有內容，則會顯示此段落。
        </div>
      </div>
    </script>

    <script type="text/x-template" id="namedSlotComponent">
      <div class="card my-3">
        <div class="card-header">
          <div>這段是預設的文字</div>
        </div>
        <div class="card-body">
          <slot>
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </slot>
          <a href="#" class="btn btn-primary">
            <div>spanGo somewhere</div>
          </a>
        </div>
        <div class="card-footer">
          <div>這是預設的 Footer</div>
        </div>
      </div>
    </script>

    <script>
      Vue.component('no-slot-component', {
        template: '#noSlotComponent',
      });

      Vue.component('single-slot-component', {
        template: '#singleSlotComponent',
      });

      Vue.component('named-slot-component', {
        template: '#namedSlotComponent',
      });

      var app = new Vue({
        el: '#app',
        data: {}
      });
    </script>
  </div>
</body>

</html>